
.main, .container {
  text-align: center;

  /* Debugging */
  /*border: 1px black solid;*/
}

.main {
  /*background-color: green;*/
  margin-top: 200px;
}

.container {
  width: 600px;
  height: 44px;
  margin: 20px auto;
  position: relative;
}

.container.text-container {
  border-top: none;
  border-left: 1px grey solid;
  border-right: 1px grey solid;
  border-bottom: 1px grey solid;
}

#search-bar {
  float: left;

  height: 34px;
  width: 85%;

  border: none;
}

#voice-search {
  float: right;

  height: 100%;
  width: 10%;

  background-image: url("../images/microphone.png");
  background-size: 24px 24px;

  background-color: white;
  border: none;

  background-repeat: no-repeat;
  background-position: center center;
}

#search-button, #lucky-button {
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;

  color: grey;

  padding-left: 16px;
  padding-right: 16px;

  margin: 11px 4px;

  height: 34px;
  width: 110px;

  box-sizing: content-box;

  background-color: white;
  border: none;
}

.nav-bar-top, .nav-bar-bottom {
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;

  color: grey;

  position: fixed;
  width: 100%;
  height: 44px;
}

.nav-bar-top li, .nav-bar-bottom li {
  display: inline;
  float: left;
  margin: 10px 20px;
}

.nav-bar-top {
  top: 0;
}

.nav-bar-bottom {
  bottom: 0;
}
